.idea/
target/
*.log

storage/original/*
storage/processed/*
storage/thumbnails/*
!storage/original/.gitkeep
!storage/processed/.gitkeep
!storage/thumbnails/.gitkeep

postgres-data/

**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
tfplan
*.tfplan
terraform-plan.txt
!terraform.tfvars.example

k8s/aws/config.yaml
k8s/config.yaml
